absl-py
astor
attrs
backcall
bleach
cachetools
certifi
chardet
cycler
decorator
defusedxml
entrypoints
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
oauthlib
opt-einsum
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
Pygments
pyparsing
pyrsistent
python-dateutil
pyzmq
qtconsole
QtPy
requests
requests-oauthlib
rsa
scikit-learn
scipy
Send2Trash
six
scikit-learn
tensorboard
tensorflow==2.16.1
termcolor
terminado
testpath
threadpoolctl
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
zipp
